body { 
    font-family: Arial, 
    sans-serif; 
    text-align: center; 
    background-color: #f8f9fa; 
}

.container { 
    max-width: 400px; 
    margin-top: 50px; 
}
 
.card { 
    border-radius: 15px; 
}

#result { 
    margin-top: 20px; 
    font-weight: bold; 
}

.d-none {
    display: none;
}